button.toclick CLICK ME 

// We should use calculation to get the proper num of pages
nav.pages Pagination 
  - for (var x = 0; x < 3; x++)
  a.show-page#{x}



.facilities
   input.facilities__breakfst(type="checkbox", name="Завтрак")
   input.facilities__desk(
    type="checkbox",  
    name="Письменный стол", 
    checked
  )    
  input.facilities__foodchair(
    type="checkbox", 
    name="Стул для кормления", 
    checked
  )
  input.facilities__bed(
    type="checkbox", 
    name="Кроватка", 
    checked
  )
  input.facilities__tv(type="checkbox", name="Телевизор")
  input.facilities__shampoo(type="checkbox", name="Шампунь")
    


