- var nolink = '/undone_page.html'
- var autorised = false 
- var user = {name: 'Константин Константинопольский'}
header 
  nav 
      img#logo(src='')
      .menu 
          ul
            li: a(href=nolink) О нас 
            ul.dropwown 
              li: а(href=nolink) Услуги
            li: а(href=nolink) Вакансии
            li: a(href=nolink) Новости
            ul.dropwow  n 
              li: а(href=nolink) Соглашения
        if autrized
        .siglogin